{% extends "templates/base.html" %}
{% block content %}
<h1>Ajout d'un diplome</h1>
	{% if res %}
	<p>Ajout réussi dans la BD</p>
	<input type="button" value="Ajouter encore un diplome" onclick="document.location.href = '/Diplome/ajouterDiplome';"/>
	<input type="button" value="Etape suivante" onclick="document.location.href = '/Semestre/ajouterSemestres';" />
	{% else %}
	<form enctype="multipart/form-data" action="{% url "ajouterDiplome" %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="e" name="Valider">
	</form>
	{% endif %}
{% endblock %}