{% extends "base.html" %}
{% block title %}Unités d'enseignements{% endblock %}

{% block content %}

{% if not ues %}
	<p>Pas d'unité d'enseignement</p> 
{% else %}
	<table style="border:1px solid black; border-collapse : collapse;">
	<tr>
		<th style="border:1px solid black;">Intitule</th>
		<th style="border:1px solid black;">Code</th>
		<th style="border:1px solid black;">Semestre</th>

	</tr>
{% endif %}

{% for ue in ues %}
	<tr>
		<td style="border:1px solid black;"><a href="detailUE/{{ ue.id }}">{{ ue.intitule }}</a></td>
		<td style="border:1px solid black;">{{ ue.code }}</td>
		<td style="border:1px solid black;">{{ ue.semestre }}</td>

	</tr>
{% endfor %}
</table>
{% endblock %}
