{% extends "templates/base.html" %}
{% block title %}Ajouter Semestre{% endblock %}

{% block content %}
	{% if res %}
		<p>Ajout réussi dans la BD</p>
		<input type="button" value="Ajouter encore un semestre" onclick="document.location.href = '/Semestre/ajouterSemestre';"/>
		<input type="button" value="suivant" onclick="document.location.href = '/UE/ajouterUE';"/>
	{% else %}
	<h1>Ajout d'un semestre</h1>
	<form enctype="multipart/form-data" action="{% url "ajouterSemestre" %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="e" name="Valider">
	</form>
	{% endif %}
{% endblock %}
