{% extends "templates/base.html" %}
{% block content %}
<h1>Ajout d'une Année</h1>
	{% if res %}
		<p>Insertion de l'année réussie</p>
		<input type="button" value="Ajouter une nouvelle année" onclick="document.location.href = '/Annee/ajouterAnnee';" />
		<input type="button" value="Étape suivante" onclick="document.location.href = '/Diplome/ajouterDiplome';" />
	{% else %}
	<form enctype="multipart/form-data" action="{% url "ajouterAnnee" %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="e" name="valider">
	</form>
	{% endif %}
{% endblock %}