{% extends "templates/base.html" %}
{% block title %}Ajouter un groupe{% endblock %}

{% block content %}
	<h1>Ajouter un groupe</h1>
	{% if res %}
		<p>Ajout réussi dans la BD</p>
		<input type="button" value="Ajouter encore un groupe ?" onclick="document.location.href = '/Groupe/ajouterGroupe';"/>
	{% else %}
	<form enctype="multipart/form-data" action="{% url "ajouterGroupe" %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="e" name="Valider">
	</form>
	{% endif %}
{% endblock %}