{% extends "templates/base.html" %}
{% block title %}Groupe{% endblock %}

{% block content %}

	{% if not groupe %}
		<p>Pas de groupe dans la base</p> 
	{% else %}
		<table>
		<tr>
			<th>Nom</th>
			<th>Supprimer</th>
		</tr>

		{% for gr in groupe %}
		<tr>
			<td><a href="/Groupe/listerEtuGroupe/{{ gr.id }}">{{ gr.nom }}</a></td>
			<td><a href="supprgrp/{{ gr.id }}">Supprimer</a></td>

		</tr>
		{% endfor %}
		</table>
		<p>Attention, supprimer un groupe supprimera tous les étudiants qui lui sont associés.</p>
	{% endif %}

{% endblock %}