{% extends "templates/base.html" %}
{% block title %}Résultat Jury{% endblock %}

{% block content %}
    
    {% if not res %} 
         <p>Vous avez sélectionné l'étudiant: {{ etu.nom }}</p>

         <form enctype="multipart/form-data" action="{% url "completerResultat" id=etu.id semestre=semestre.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Valider">
        </form>
		{% else %}
			<p>Ajout réussi dans la bd</p>


	{% endif %}
{% endblock %}