{% extends "templates/base.html" %}
{% block content %}
	<h1>Importer des notes via un fichier</h1>

	{% if res %}
		{% if perf %}
			<p>Ajout réussi dans la BD</p>
		{% else %}
			<p>Ajout partiellement réussi :</p>
			{{ ret_etu | safe }}
			{{ ret_mat | safe }}
			{{ ret_notes | safe }}
		{% endif %}
		<p><a href="/accueil">Retour à l'accueil</a></p>
	{% else %}
		<form enctype="multipart/form-data" action="{% url "importer_csv" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="Valider">
		</form>
	{% endif %}
{% endblock %}

