{% extends "base.html" %}
{% block content %}
	<h1>Importer des notes via un fichier</h1>
	{% if FILE %}
		<p>Fichier selectionné</p>
	{% endif %}

	{% if res %}
		<p>Ajout réussi dans la BD</p>
		<p><a href="/accueil">Retour à l'accueil</a></p>
	{% else %}
		<form enctype="multipart/form-data" action="{% url "importer_csv" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="Valider">
		</form>
	{% endif %}
{% endblock %}

    Contact GitHub API Training Shop Blog About 

