@font-face {
    font-family: walkway;
    src: url(walkway.ttf);
}

a{
	color:#222222;
	text-decoration: none;		
}

a:visited{
	color:#222222;
	text-decoration: none;		
}

html,body{
	height: 100%;
}

body{
	font-family: "Segoe UI", Verdana, serif;
	font-size:12pt;
	margin:0;
	padding:0;
}

#header{
	width:100%;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color:#222222;	
	box-shadow:0 0 20px #000000;
	border-bottom:solid #444444 8px;
	font-family: walkway;		
}

#GCE{
	color: #00A99D;
}

/*#footer{
	width: 100%;
	background-color:#222222;	
	box-shadow:0 0 20px #000000;
	border-top:solid #444444 8px;
	position: absolute;
	bottom:0;
	text-align: center;
	color: white;
}*/

#menu a {
	color: white;
	font-size: 15px;
	font-family: walkway;
}

.sous-menu{
	margin-top: 10px;
}

.sous-menu li{
	border-radius: 5px;
	margin:5px;
}

li {
	border : 1px solid white;
	padding: 5px 0px 5px 0px;
	background-color :gray;
	cursor: pointer;
	padding-left: 10px;
}

li:hover{
	background : #00A99D;
	padding-left : 30px ;
	-webkit-transition : all 0.3s;
	-moz-transition : all 0.3s;
	transition: all 0.3s;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
	text-shadow:1px 1px 2px #333333;
	text-align: left;
	color:white;
	margin:0px;
	margin-left: 50px;
	font-size: 1.5em;
}

#menu{
	background: linear-gradient(to bottom, #444444, white);
	/*background-color:#444444;*/
	width: 200px;
	height: 80%;
	padding: 10px;
	padding-top: 0px;
	float: left;
}

.sous-menu li{
	border : 0;
    padding: 5px 10px 5px 10px;
    transform: inherit;
}

#main{
	width : 800px;
	margin:auto;
	text-align: center;
	margin-top: 50px;
}

table{
	border:1px solid black; 
	border-collapse : collapse;
}

#main h1{
	color: black;
}

table{
	margin-left: 50px;
}

td,th{
	padding: 5px;
	border:1px solid black;
}

#logo{
	vertical-align: middle;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}