@font-face {
    font-family: walkway;
    src: url(walkway.ttf);
}

a{
	color:#222222;
	text-decoration: none;		
}

a:visited{
	color:#222222;
	text-decoration: none;		
}

body{
	font-family: "Segoe UI", Verdana, serif;
	font-size:12pt;
	margin:0;
	padding:0;
}

#header{
	width:100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:#222222;	
	box-shadow:0 0 20px #000000;
	border-bottom:solid #444444 8px;
	font-family: walkway;		
}

#GCE{
	color: #00A99D;
}

#footer{
	width: 100%;
	background-color:#222222;	
	box-shadow:0 0 20px #000000;
	border-top:solid #444444 8px;
	position: absolute;
	bottom:0;
	text-align: center;
	color: white;
}

#menu a {
	color: white;
	font-size: 15px;
	font-family: walkway;
}

.sous-menu{
	margin-top: 10px;
}

li {
	border : 1px solid white;
	padding: 5px 0px 5px 0px;
	background-color :gray;
	cursor: pointer;
	padding-left: 10px;
}

li:hover{
	background : #1ABC9C;
	padding-left : 30px ;
	-webkit-transition : all 0.3s;
	-moz-transition : all 0.3s;
	transition: all 0.3s;
	-ms-transform: rotate(1.1); 
    -webkit-transform: rotate(1.1);
   	transform: scale(1.1);
	-moz-box-shadow: 0px 0px 10px #22A9E8;
  	-webkit-box-shadow: 0px 0px 10px #22A9E8;
  	-o-box-shadow: 0px 0px 10px #22A9E8;
  	box-shadow:0px 0px 10px #22A9E8;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1{
	text-shadow:1px 1px 2px #333333;
	text-align: center;
	color:white;
	vertical-align: middle;
}

#menu{
	background: linear-gradient(to bottom, #444444, white);
	/*background-color:#444444;*/
	width: 200px;
	height: 50%;
	padding: 10px;
	padding-top: 0px;
	float: left;
}

.sous-menu li{
	border : 0;
    padding: 5px 10px 5px 10px;
    transform: inherit;
}

#main{
	margin-top: 50px;
	width : 800px;
	margin:auto;
	text-align: center;
}

#main h1{
	color: black;
}

table{
	margin-left: 50px;
}

td,th{
	padding: 5px;
}

#logo{
	height: 100px;
	vertical-align: middle;
	margin-right: 30px;
}