{% extends "templates/base.html" %}
{% block title %}Lister les matières{% endblock %}

{% block content %}
<h1>Lister les matières</h1>
{% if not matieres %}
	<p>Pas de matieres dans la base</p> 
{% else %}
	<table >
	<tr>
		<th>Code Matière</th>
		<th>Intitulé</th>
		<th>Coefficient</th>
		<th>Supprimer</th>
	</tr>
{% endif %}

{% for mat in matieres %}
	<tr>
		<td>{{ mat.code }}</td>
		<td>{{ mat.intitule }}</td>
		<td>{{ mat.coeff }}</td>
		<td><a href="supprmat/{{ mat.id }}">Supprimer</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}