{% extends "templates/base.html" %}
{% block title %}Lister les matières{% endblock %}

{% block content %}
<h1>Lister les matières</h1>
{% if not matieres %}
	<p>Pas de matieres dans la base</p> 
{% else %}
	<table >
	<tr>
		<th>Intitulé</th>
		<th>Nom Enseignant</th>
		<th>Prénom Enseignant</th>
		<th>Supprimer</th>
	</tr>
{% endif %}

{% for mat in matieres %}
	<tr>
		<td>{{ mat.intitule }}</td>
		{% for enseignant in enseignants %}
			{% if mat.id == enseignant.matiere.id %}
				
					<td>{{ enseignant.nom }}</td>
					<td>{{ enseignant.prenom }}</td>
					<td><a href="supprmat/{{ mat.id }}">Supprimer</a></td>
				</tr>
				
			{% endif %}
		{% endfor %}
{% endfor %}
</table>

<p>Attention, supprimer une matière supprimera tout les enseignants qui lui sont associés.</p>
{% endblock %}