{% extends "templates/base.html" %}
{% block title %}Affichage complet des notes d'un étudiant{% endblock %}


<!-- DJANGO SELECT -->
<!-- V1 Faire afficher tous les étus dispo -->
<!-- V2 Faire afficher les étus n'ayant pas toutes les infos de renseignées -->
{% block content %}
	<h1>Affichage complet des notes d'un étudiant</h1>
	{% if not res %} 
		<form enctype="multipart/form-data" action="{% url "affichageComplet" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Valider">
		</form>
	{% else %}
		<p>Vous avez sélectionné l'étudiant(e) : {{ e.nom }} {{ e.prenom }}</p>
		<table>
			<tr>
				<th>Element</th>
				<th>Note</th>
				<th>Abscence</th>
				<th>Coefficient</th>
			</tr>
			<tr>
				<td>{{ semestre }}</td>
			</tr>
			{% for matieres in tab_matieres %}
				<tr>
					<td>{{ matieres.0.unite }}</td>
					<td></td>
					<td></td>
					<td>{{ matieres.0.unite.coefficient }}</td>
				</tr>
				{% for matiere in matieres %}
					<tr>
						<td> {{ matiere.intitule }}</td>
					{% for i in range %}
						<!-- {% if note.matiere.intitule == matiere.intitule %}  -->
							<td> {{ i }}</td>
						<!-- {% elif not note and matiere.intitule %} -->
						<!-- {% endif %} -->

					{% endfor %}
						<td></td>
						<td>{{ matiere.coefficient }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}