{% extends "templates/base.html" %}
{% block title %}Affichage complet des notes d'un étudiant{% endblock %}


<!-- DJANGO SELECT -->
<!-- V1 Faire afficher tous les étus dispo -->
<!-- V2 Faire afficher les étus n'ayant pas toutes les infos de renseignées -->
{% block content %}
	<h1>Affichage complet des notes d'un étudiant</h1>
	{% if not res %} 
		<form enctype="multipart/form-data" action="{% url "affichageComplet" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Valider">
		</form>
	{% else %}
		<p>Vous avez sélectionné l'étudiant(e) : {{ e.nom }} {{ e.prenom }}</p>
		<p>{{ semestre }}</p>
		{% for note in notes %}
			<p> Pour la matiere {{ note.matiere }} dans l'ue {{ note.matiere.unite }} : {{ note.valeur }}</p>
		{% endfor %}
	{% endif %}

{% endblock %}