{% extends "templates/base.html" %}
{% block title %}Importer des étudiants{% endblock %}

{% block content %}
	<h1>Importer des étudiants</h1>


	{% if not res %} 
			{% if not res2 %}
				{% if not inst %}
					<p>Aucune Instance de semestre n'est disponible, commencez par en créer une.</p>
				{% else %}
					<form enctype="multipart/form-data" action="{% url "importer_etu" %}" method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Valider">
					</form>
				{% endif %}
			{% else %}
				<p>Ajout réussi dans la BD</p>
				<p>{{ nb_etu }} étudiant(s) créés</p>
			<p><a href="/">Retour à l'accueil</a></p>
			{% endif %}
		{% else %}
			<p>Vous avez sélectionné la promo : {{ instanceSemestre.semestre }} {{ instanceSemestre.annee }}</p>
			<form enctype="multipart/form-data" action="{% url "importer_etu" %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Sauvegarder">
			</form>
	{% endif %}
{% endblock %}