{% extends "templates/base.html" %}
{% block title %}Résultat Jury{% endblock %}

{% block content %}
<h1>Promotion</h1>
	{% if not res %} 
			<form enctype="multipart/form-data" action="{% url "listerPromotion" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
	</form>
			
	{% else %}
	
	<table style="border:1px solid black; border-collapse : collapse;">
	<tr>
		<th style="border:1px solid black;">Nom</th>
        <th style="border:1px solid black;">Prénom</th>
		<th style="border:1px solid black;">Age</th>
		<th style="border:1px solid black;">Apogée</th>
	</tr>

	{% for resultat in resultatsJury %}
	<tr>
		<td style="border:1px solid black;">{{ resultat.etudiant.nom}}</td>
		<td style="border:1px solid black;">{{ resultat.etudiant.prenom }}</td>
		<td style="border:1px solid black;">{{ resultat.etudiant.age }}</td>
		<td style="border:1px solid black;">{{ resultat.etudiant.apogee }}</td>
	</tr>
	{% endfor %}
	</table>

	{% endif %}
{% endblock %}