{% extends "templates/base.html" %}
{% block title %}Lister les étudiants{% endblock %}

{% block content %}
<h1>Lister les étudiants</h1>
{% if not etus %}
	<p>Pas d'étudiants dans la base</p> 
{% else %}
	<table>
	<tr>
		<th>Nom</th>
		<th>Prenom</th>
		<th>Age</th>
		<th>Apogée</th>
		<th>Supprimer</th>
	</tr>
{% endif %}

{% for etu in etus %}
	<tr>
		<td><a href="listeretu/{{ etu.id }}">{{ etu.nom }}</a></td>
		<td>{{ etu.prenom }}</td>
		<td>{{ etu.age }}</td>
		<td>{{ etu.apogee }}</td>
		<td><a href="suppretu/{{ etu.id }}">Supprimer</a></td>
	</tr>
{% endfor %}
</table>
<script>
	function suppression(){
		if(confirm("Voulez-vous vraiment supprimer les étudiants ?")){
			window.location = "suppall"
		}
	}
</script>
<p><a onclick="suppression();">Supprimer tous les étudiants</a></p>
<a href="/">Retour à l'accueil</a>
<p>Attention, supprimer un étudiant supprimera toutes les notes qui lui sont associées.</p>
{% endblock %}