{% extends "base.html" %}
{% block title %}Accueil Notes{% endblock %}

{% block content %}
<h1>Accueil</h1>
<p><a href="listernotes">Lister les notes</a></p>
<p><a href="listeretus">Lister les étudiants</a></p>
<p><a href="importer_csv">Importer un CSV</a></p>
<p><a href="ajouterEtudiant">Ajouter Etudiant</a></p>
<p><a href="ajouterGroupe">Ajouter Groupe</a></p>
<p><a href="listermatieres">Lister les matières</a></p>
<p><a href="ajouterMatiere">Ajouter une matière</a></p>
<p><a href="/Etudiant/completer_etu">Compléter les informations d'un étudiant</a></p>
<p><a href="ajouterUE">Ajouter une unité d'enseignement</a></p>
<p><a href="listerUE">Lister les unités d'enseignement</a></p>
{% endblock %}