{% extends "base.html" %}
{% block title %}GCE{% endblock %}

{% block content %}
<h1>Accueil</h1>
<p><a href="/Note/listernotes">Lister les notes</a></p>
<p><a href="/Etudiant/listeretus">Lister les étudiants</a></p>
<p><a href="/Note/importer_csv">Importer un CSV</a></p>
<p><a href="/Etudiant/ajouterEtudiant">Ajouter Etudiant</a></p>
<p><a href="/Groupe/ajouterGroupe">Ajouter Groupe</a></p>
<p><a href="/Matiere/listermatieres">Lister les matières</a></p>
<p><a href="/Matiere/ajouterMatiere">Ajouter une matière</a></p>
<p><a href="/Etudiant/completer_etu">Compléter les informations d'un étudiant</a></p>
<p><a href="/UE/ajouterUE">Ajouter une unité d'enseignement</a></p>
<p><a href="/UE/listerUE">Lister les unités d'enseignement</a></p>
{% endblock %}